<div class="content-wrap">
    <div class="content__img-wrap">
        <img src="https://image.tmdb.org/t/p/w500/clRnzMsFoMIdC7I5JsG6dnnHH8l.jpg" alt="film-image" class="content__img" />
        <h4 class="content__title-img">Темные времена (2017)</h4>
    </div>
    <div class="content__text-wrap">
        <h3 class="content__title">Темные времена (2017)</h2>
            <ul class="list content__list">
                <li class="content__item">
                    <span class="content__item-name">страна</span>
                    <span class="content__item-description">США, Великобритания</span>
                </li>
                <li class="content__item">
                    <span class="content__item-name">слоган</span>
                    <span class="content__item-description">«Никогда не сдавайся»</span>
                </li>
                <li class="content__item">
                    <span class="content__item-name">режиссер</span>
                    <span class="content__item-description">Джо Райт</span>
                </li>
                <li class="content__item">
                    <span class="content__item-name">сценарий</span>
                    <span class="content__item-description">Энтони МакКартен</span>
                </li>
                <li class="content__item">
                    <span class="content__item-name">жанр</span>
                    <span class="content__item-description">драма, военный, биография, история</span>
                </li>
                <li class="content__item">
                    <span class="content__item-name">время</span>
                    <span class="content__item-description">125 мин. / 02:05</span>
                </li>
            </ul>
            <div class="content__about-wrap">
                <h3 class="content__title-about">Про фильм</h2>
                    <p class="content__about">
                        История о первом и решающем шаге Уинстона Черчилля на посту
                        премьер-министра Великобритании, получившего власть при
                        чрезвычайных обстоятельствах. Успехи нацистской армии взбудоражили
                        британское сообщество, но вопреки давлению и страху других
                        политиков Черчилль отказывается идти на соглашение с Гитлером.
                        История о первом и решающем шаге Уинстона Черчилля на посту
                        премьер-министра Великобритании, получившего власть при
                        чрезвычайных обстоятельствах. Успехи нацистской армии взбудоражили
                        британское сообщество, но вопреки давлению и страху других
                        политиков Черчилль отказывается идти на соглашение с Гитлером.
                    </p>
            </div>
    </div>
</div>
<div class="content__iframe-wrap">
    <h3 class="content__iframe-title">Трейлер</h3>
    <iframe class="content__iframe" src="https://www.youtube.com/embed/1mrjPl7Ijzs" frameborder="0"></iframe>
</div>