<div class="cards-list-wrap">
    <ul class="list cards-list">
        {{#each this}}
        <li class="cards-list__item" data-id={{id}}>
            <div class="cards-list__item-vote">{{vote_average}}</div>
            <img class=" cards-list__item-img" src='https://image.tmdb.org/t/p/w300{{poster_path}}' >
            <button class="btn cards-list__item-button">
                <i class="icon-star cards-list__item-icon"></i>
            </button>
            <h3 class="cards-list__item-title">{{title}}</h3>
            <div class="cards-list__item-overlay"></div>
        </li>
        {{/each}}
    </ul>
</div>