<header class='header'>
    <div class="header-actions">
        <button class="header-menu"></button>
        <a href="#" class="header-logo">
            <img src="#" alt="logotype" class='header-logo__image'>
            <span class="header-logo__text">Moogle</span>
        </a>
    </div>
    <form class="header-form">
        <button class="header-button"></button>
        <input type="text" class="headr-input" placeholder="Search">
    </form>
</header>