.favorites-about {
  font-size: 22px;
  text-align: center;
  color: $color-font-white;
  background-color: $color-hover3;
  padding: calculateRem(20) 0 calculateRem(20);
}

.search-about {
  font-size: 22px;
  text-align: center;
  color: $color-font-white;
  background-color: $color-hover3;
  padding: calculateRem(20) 0 calculateRem(20);
}
