.content {
  color: $color-font-dark;
  &-wrap {
    color: $color-font-white;
    @include for-size(phone-only) {
      display: block;
      margin-bottom: calculateRem(35);
    }
    margin-bottom: calculateRem(65);
    display: flex;
    justify-content: space-between;
  }

  &__img-wrap {
    width: 40%;
    position: relative;

    overflow: hidden;
    margin-right: calculateRem(16);
    @include for-size(phone-only) {
      margin-bottom: calculateRem(18);
      margin-right: 0;
      width: 100%;
      max-height: 600px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
  &__title-img {
    display: none;
    @include for-size(phone-only) {
      display: block;
      font-size: $font-size-medium;
      color: $color-font-white;
      margin-bottom: calculateRem(16);
    }
  }

  &__text-wrap {
    @include for-size(phone-only) {
      width: 100%;
    }
    width: 60%;
  }

  &__title {
    @include for-size(phone-only) {
      display: none;
    }
    display: block;
    font-size: $font-size-medium;
    margin-bottom: calculateRem(18);
  }

  &__list {
    @include for-size(phone-only) {
      display: none;
    }
    display: block;
    margin-bottom: calculateRem(18);
  }
  &__item {
    &:nth-child(2n + 1) {
      background-color: $color-main-background;
    }
    line-height: 2;
    font-size: $font-size-small2;
    display: flex;

    &-link {
      color: #ffffff;
    }
    &-name {
      flex-basis: 30%;
      padding-left: calculateRem(17);
    }
    &-description {
      flex-basis: 70%;
      padding-left: calculateRem(10);
      &-style {
        display: inline-block;
        &:not(:last-child) {
          margin-right: calculateRem(7);
          &::after {
            content: ",";
            display: inline;
            padding-left: 3px;
          }
        }
      }
    }
  }

  &__title-about {
    font-size: $font-size-medium;
    margin-bottom: calculateRem(10);
  }
  &__about {
    font-size: $font-size-small3;
  }

  &__iframe {
    width: 70%;
    height: 400px;
    @include for-size(phone-only) {
      width: 90%;
      height: 300px;
    }

    &-wrap {
      color: $color-font-white;
      text-align: center;
      margin-bottom: calculateRem(30);
    }

    &-title {
      text-align: left;
      padding-left: calculateRem(20);
      font-size: $font-size-medium;
      margin-bottom: calculateRem(30);
      @include for-size(phone-only) {
        padding-left: 0;
      }
    }
  }
}
