* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  font-family: $font-family;
}

body {
  min-width: 400px;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.content {
  background-color: $color-hover3;
  padding: 2.5% 2.5%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  outline: none;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}
