.favorites-list {
  display: flex;
  flex-wrap: wrap;
  animation: filmcards 400ms linear;

  &__item {
    position: relative;
    cursor: pointer;
    height: 270px;
    overflow: hidden;
    @include for-size(phone-only) {
      flex-basis: 48%;
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: calculateRem(30);
      }
      &:nth-child(odd) {
        margin-right: 4%;
      }
    }
    @include for-size(custom-size) {
      flex-basis: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include for-size(tablet-portrait-up) {
      flex-basis: 48%;
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: calculateRem(30);
      }
      &:nth-child(odd) {
        margin-right: 4%;
      }
    }

    @include for-size(tablet-landscape-up) {
      flex-basis: 23.5%;
      &:not(:nth-last-child(-n + 4)) {
        margin-bottom: calculateRem(30);
      }
      &:not(:nth-child(4n)) {
        margin-right: 2%;
      }
    }

    @include for-size(desktop-up) {
      flex-basis: 18.8%;
      &:not(:nth-last-child(-n + 5)) {
        margin-bottom: calculateRem(30);
      }
      &:not(:nth-child(5n)) {
        margin-right: 1.5%;
      }
    }

    &:hover .favorites-list__item-overlay {
      opacity: 0.2;
      transition: 0.2s linear;
    }

    &-img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    &-button {
      outline: none;
      z-index: 25;
      background-color: transparent;
      font-size: 30px;
      color: $color-font-white;
      line-height: 1.2;
      position: absolute;
      top: 0;
      right: 0;

      &:hover {
        color: $color-hover2;
      }
    }

    &-title {
      position: absolute;
      width: 100%;
      bottom: 5%;
      text-align: center;
      color: $color-font-white;
      font-size: $font-size-small3;
      z-index: 25;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.2s linear;
      opacity: 0.6;
      z-index: 24;
      background: radial-gradient(
        ellipse at center,
        rgba(253, 253, 253, 0.3) 0%,
        #020202 100%
      );
      border-radius: inherit;
    }
  }
}

@keyframes filmcards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
