.main-wrapper {
  width: 94%;
  margin: 0 auto;
  min-height: 800px;
  padding: calculateRem(16) 0;
 
  @include for-size(tablet-portrait-up) {
    padding: calculateRem(16) 0;
    width: 94%;
  }
  @include for-size(tablet-landscape-up) {
    padding: calculateRem(34) 0;
    width: 90%;
  }
  @include for-size(desktop-up) {
    padding: calculateRem(34) 0;
    width: 74%;
  }
}
