.nav {
  background-color: $color-font-light;
  box-shadow: -2px 20px 15px -17px #161236;
  &-list {
    display: flex;
    justify-content: center;
    &__item {
      &:hover {
        background-color: $color-hover;
        transition: all ease-in 0.3s;
      }
      &:hover .nav-list__link {
        color: $color-font-white;
        transition: all ease-in 0.3s;
      }
      padding-top: calculateRem(15);
      padding-bottom: calculateRem(15);
      width: 120px;
      text-align: center;
    }
    &__link {
      text-transform: uppercase;
      font-size: $font-size-small3;
      color: #000;

      @include for-size(custom-size) {
        font-size: $font-size-small2;
      }
    }
  }
}
.current .link {
  background-color: $color-hover;
  color: $color-font-white;
}
