@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) and (max-width: 1199px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  } @else if $size == custom-size {
    @media (min-width: 320px) and (max-width: 399px) {
      @content;
    }
  }
}
