.pagination {
  height: 40px;
  display: block;
  width: 352px;
  padding: 0 calculateRem(20) 0;
  border-radius: 25px;
  background-color: $color-font-light;
  margin: calculateRem(40) auto 0;


  &__link {
    float: left;
    padding: 0 15px;
    font-size: 16px;
    line-height: 40px;
    color: $color-font-dark;

    &:hover {
      color: $color-font-white;
      background-color: $color-hover;
      transition: 400ms ease;
    }
  }
}

.current {
  background-color: $color-hover;
  color: $color-font-white;
}
.hide {
  display: none;
}
