.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 999;
  &-content {
    box-shadow: 10px 5px 19px -8px rgba(0, 0, 0, 0.75);
    width: 300px;
    height: 100vh;
    background-color: #fff;
    transform: translateX(-300px);
    transition: 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    &__img {
      height: 222px;
      margin-bottom: calculateRem(12);
    }

    &__button {
      display: block;
      margin-left: auto;
      margin-right: calculateRem(7);
      outline: none;
      background-color: transparent;
      font-size: 24px;
      line-height: 1.2;
      color: $color-font-light5;
      margin-bottom: calculateRem(30);
    }

    &__title {
      color: $color-font-light5;
      margin-left: calculateRem(44);
      display: inline-block;
      user-select: none;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: calculateRem(20);
      }
      &:hover {
        color: palevioletred;
      }
    }

    &__list {
      display: none;
      color: $color-font-light5;
      padding-left: calculateRem(90);
      margin-bottom: calculateRem(18);
      &-item {
        cursor: pointer;
        &:not(:last-child) {
          margin-bottom: calculateRem(8);
        }

        &:hover {
          color: palevioletred;
        }
      }
    }
  }
}
.open {
  display: block;
}

.sidebar-open {
  transition: 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(0);
}

.hidden {
  display: block;
}
