.slider {
  &-actors {
    width: 256px;
    height: 128px;
    border: 5px solid black;
    margin: 0 auto;
    box-sizing: content-box;
    overflow: hidden;
  }

  &-list {
    width: 896px;
    position: relative;
    left: 0;
    right: 0;
    transition: all ease 500ms;
    &::after {
      content: "";
      display: block;
      clear: both;
    }

    &__item {
      display: none;
      float: left;
      overflow: hidden;
      height: 128px;
      position: absolute;
    }

    &__img {
      width: 128px;
      height: 128px;
    }
  }
}

