$slick-font-path: "/node_modules/slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "/node_modules/slick-carousel/slick-carousel/slick/" !default;
$slick-arrow-color: black !default;
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

.content__slider-actors {
  &-wrap {
    // width: 90%;
    margin: 0 auto;
  }

  &-title {
    text-align: left;
    padding-left: calculateRem(20);
    font-size: $font-size-medium;
    margin-bottom: calculateRem(30);
    color: $color-font-white;

    @include for-size(phone-only) {
      padding-left: 0;
    }
  }

  &-img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: calculateRem(20);
  }

  &-name {
    text-align: center;
    font-size: $font-size-small3;
    color: $color-font-white;
    margin-bottom: calculateRem(20);
  }
}
