@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

$color-main-background: #77c1bb;

$color-font-dark: #372c48;
$color-font-light: #757575;
$color-font-light2: #77c1bb;
$color-font-white: #ffffff;

$font-size-small: 11px;
$font-size-small2: 12px;
$font-size-small3: 14px;
$font-size-small4: 16px;
$font-size-medium: 20px;
