@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

$color-main-background: #77c1bb;
$color-button-fav: #fa7305;

$color-font-dark: #372c48;
$color-font-light: #757575;
$color-font-light2: #77c1bb;
$color-font-white: #ffffff;
$color-light-white: #fffffc;

$color-font-light5: #6b6377;

$color-hover: palevioletred;
$color-hover2: #e2a657;
$color-hover3: rgba(4, 36, 68, 0.8);

$font-size-small1: 12px;
$font-size-small2: 14px;
$font-size-small3: 16px;
$font-size-medium: 20px;
$font-size-big: 26px;

$font-family: "Roboto", sans-serif;
